/* Styles go here */

 

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #54A954 !important;
}

.text-center {
    margin-top: 20px;
}

img {
    padding: 5px;
}

#winner {
    display: none;
}